<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/admin.css">
    <title>Admin</title>

    <script>
        const adminLoginForm = document.getElementById('adminLoginForm');

        // sanitize 
        adminLoginForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const username = document.getElementById('admin_user').value;
            const password = document.getElementById('admin_pass').value;

            // Sanitize 
            if (username === '' || password === '') {
                alert('Please provide a valid username and password');
                return;
            }

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

            fetch('/api/admin/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrfToken
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    setError(document.getElementById('admin_user'), 'Invalid username or password');
                    setError(document.getElementById('admin_pass'), 'Invalid username or password');
                }
            }).then(data => {
                console.log(data);
                window.location.href = '/';
            }).catch(error => {
                console.log(error);
            });
        });
    </script>
</head>
<body>
    <!-- Create login form -->
    <form method="POST" id="adminLoginForm">
        <h1>Admin Login</h1>
        <input type="text" name="username" placeholder="Username" id="admin_user">
        <input type="password" name="password" placeholder="Password" id="admin_pass">
        <button type="submit" id="admin_submit">Login</button>
    </form>

</body>
</html>
