<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title> Admin Dashboard </title>
</head>
<body>
    <p>Admin Dashboard</p>
    <ul>
        <li>
            <a href="/admin/createcheque">Create Cheque</a>
        </li>
        <li>
            <a href="/admin/users">Deactivate User</a>
        </li>
    </ul>

    
</body>
</html>
