<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Load</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/transfer.css">
    <script src="scripts/upload.js"></script>
</head>
<body>
    <div class="splitscreen">
        <div class="left">
            <h1>Mobile Load</h1>
            
        </div>
        <div class="right">
            <div class="middle">
                <h2> Provide mobile details here</h2>
                 <form method="post" action="">
                    <select name="network" id="network" placeholder="telecom provider">
                        <option value="globe">Globe</option>
                        <option value="smart">Smart</option>
                        <option value="sun">Sun</option>
                        <option value="tm">TM</option>
                    </select>
                    <input type="text" name="mobileNum" id="mobileNum" placeholder="mobile number">
                    <input type="text" name="amount" id="amount" placeholder="amount">
                    <button type="button" id="submit">Buy Load</button>
                </form>
            </div>

        </div>
    </div>
    
</body>
</html>