<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Money</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/transfer.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <script src="scripts/transfer.js"></script>
</head>
<body>
    <%- include('navbar.ejs')%>
    <div class="splitscreen">
        <div class="left">
            <h1>Bank Transfer</h1>

        </div>
        <div class="right">
            <div class="middle">
                <h2> Provide transfer details here</h2>
                 <form method="post" action="">
                    <input type="text" name="accountNum" id="accountNum" placeholder="Email:">
                    <input type = "text" name="receiver" id="receiver" placeholder="Transfer to:">
                    <input type="number" name="amount" id="amount" placeholder="amount">
                    <button type="button" id="submit">Transfer</button>
                </form>
            </div>

        </div>
    </div>

</body>
</html>
