<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Bills</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/transfer.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <script src="scripts/upload.js"></script>
</head>
<body>
    <%- include('navbar.ejs')%>
    <div class="splitscreen">
        <!-- Include navbar -->
        <div class="left">
            <h1>Bills Payment</h1>
            
        </div>
        <div class="right">
            <div class="middle">
                <h2> Provide billing details here</h2>
                 <form method="post" action="">
                    <select name="biller" id="biller" placeholder="biller">
                        <option value="electricity">Electricity</option>
                        <option value="water">Water Utilities</option>
                        <option value="wifi">WIFI</option>
                        <option value="transportation">Transportation</option>
                        <option value = "creditCard">Credit Card</option>
                    </select>
                    <input type="text" name="accountNum" id="accountNum" placeholder="account number">
                    <input type="text" name="accountName" id="accountName" placeholder="account name">
                    <input type="text" name="amount" id="amount" placeholder="amount">
                    <button type="button" id="submit">Pay Bills</button>
                </form>
            </div>

        </div>
    </div>
    
</body>
</html>