<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload profile pic!</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/transfer.css">
    <script src="scripts/withdraw.js"></script>
</head>
<body>
    <div class="splitscreen">
        <div class="left">
            <h1>Withdraw</h1>
            
        </div>
        <div class="right">
            <div class="middle">
                <h2> Provide withdraw details here</h2>
                 <form method="post" action="">
                    <input type="text" name="accountNum" id="account" placeholder="Enter Account Number:">
                    <input type="number" name="amount" id="amount" placeholder="Enter amount:">
                    <button type="button" id="submit">Withdraw</button>
                </form>
            </div>

        </div>
    </div>
    
</body>
</html>