<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Deposit</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/transfer.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <script src="scripts/deposit.js"></script>
</head>
<body>
    <%- include('navbar.ejs')%>
    <div class="splitscreen">
        <div class="left">
            <h1>Check Deposit</h1>

        </div>
        <div class="right">
            <div class="middle">
                <h2> Provide check details here</h2>
                 <form method="post" action="">
                    <p> Pay to the order of</p>
                    <input type = "date" name="date" id="date" placeholder="date">
                    <input type = "text" name="checkNum" id="checkNum" placeholder="check number">
                    <input type="number" name="amount" id="amount" placeholder="amount">
                    <button type="button" id="submit">deposit</button>
                </form>
            </div>

        </div>
    </div>

</body>
</html>
