
<!DOCTYPE html>
<html>
<head>
    <title>BPI - Bank of the Philippine Islands</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/index.css"> 
    <script src = "scripts/login.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
    </nav>
    <aside>
        <div class="logo-container">
            <h1>BPI</h1>
        </div>
        <div class="login-form">
            <h1>Welcome!</h1>
            <form action="" class = "loginForm">
                <div class="inputControl">
                    <input type="text" name="username" placeholder="Username" id="inp_user">
                    <div class="error"></div>
                </div>
                <div class="inputControl">    
                    <input type="password" name="password" id="inp_pass" placeholder="Password">
                    <div class="error"></div>
                </div>
                <button id="submit" type="button"> Login </button>
            </form>
            <div class="forgot-container">
                <p>Forgot <span class="credentials">username</span> or <span class="credentials">password</span></p>
            </div>
        </div>
        <div class="divider">
            <div class="divide"></div>
            <h1>OR</h1>
            <div class="divide"></div>
        </div>
        <div class="register-container">
            <a href='/register' class="register">Register now</a>
        </div>

        <div class="inquiries">
            <h1>Show inquiries and other services</h1>
        </div>
        <footer>
            <p>Deposits are insured by PDIC up to P500,000 per depositor.<br><br>
               For inquiries and comments please <span class="credentials">send us a message</span> or
               call our 24-hour BPI Contact Center at (+632) 889-10000.<br><br>
               BPI is a proud member of BancNet. BPI is regulated by the 
               Bangko Sentral ng Pilipinas. <span class="credentials">https://www.bsp.gov.ph</span><br><br>
               Copyright © 2023 BPI. All Rights Reserved
            </p>
        </footer>
    </aside>
    <main>
        <div class="background-image"></div>
        <div class="footer">
            <div class="information">
                <ul>
                    <li>
                        <a href="#">Service Agreement</a>
                    </li>
                    <li>
                        <a href="#">Learn About Security</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
