<nav>
    <ul>
        <li>
            <a href="/deposit">Deposit</a>
        </li>
        <li>
            <a href="/withdraw">Withdraw</a>
        </li>
        <li>
            <a href="/transfer">Transfer</a>
        </li>
        <li>
            <a href="/profilepicture">Upload</a>
        </li>
        <li>
            <a href="/profile">View Profile</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>