<!DOCTYPE html>
<html>
<head>
    <title>BPI - Bank of the Philippine Islands</title>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/register.css">
    <script src="scripts/register.js" defer></script>
</head>
<body oncontextmenu="disableRightClick(event)">
    <nav>
        <ul>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="/">Contact Us</a>
            </li>
        </ul>
    </nav>
    <aside>
        <div class="logo-container">
            <h1>BPI</h1>
        </div>
        <div class="register-form">
            <h1>Bank with BPI</h1>
            <h2>Join Us Today!</h2>
            <form method="POST" id="registerForm" enctype="multipart/form-data">
                <div class="name-container">
                    <div class="inputControl">
                        <input type="text" name="first_name" placeholder="First Name" id="first_name">
                        <div class="error"></div>
                    </div>
                    <div class="inputControl">
                        <input type="text" name="last_name" placeholder="Last Name" id="last_name">
                        <div class="error"></div>
                    </div>
                </div>
<<<<<<< HEAD
                <div class="inputControl">
                    <input type="password" name="password" placeholder="Password" id="password">
                    <div class="error"></div>
                </div>
                <div class="inputControl">
                    <input type="password" name="confirmpassword" placeholder="Confirm Password" id="confirmpassword">
                    <div class="error"></div>
                </div>
                <div class="inputControl">
                    <input type="text" name="mobile" placeholder="Mobile Number (+639) or (09)" id="mobile">
                    <div class="error"></div>
                </div>
                <div class="inputControl">
                    <input type="text" name="email" placeholder="Email" id="email">
                    <div class="error"></div>
                </div>
                <div class="inputControl">
                    <label for="profile_picture">Profile Picture</label>
                    <input type="file" name="profile_picture" id="profile_picture" accept="image/*">
                    <div class="error"></div>
                </div>
=======
                    <div class="inputControl">
                        <input type="password" name="password" placeholder="Password" id="password">
                        <div class="error"></div>
                    </div>
                    <div class="inputControl">
                        <input type="password" name="confirmpassword" placeholder="Confirm Password" id="confirmpassword">
                        <div class="error"></div>
                    </div>
                    <div class="inputControl">
                        <input type ="text" name="mobile" placeholder="Mobile Number (+639) or (09)" id="mobile">
                        <div class="error"></div>
                    </div>
                    <div class="inputControl">
                        <input type ="text" name="email" placeholder="Email" id="email">
                        <div class="error"></div>
                    </div>
>>>>>>> 1ca61c97b0e74f3fa33203b409409170f91e20be
                <button id="submit" type="button">Register</button>
            </form>
        </div>
        <div class="divider">
            <div class="divide"></div>
            <h1>OR</h1>
            <div class="divide"></div>
        </div>
        <div class="register-container">
            <button type="submit" class="register" id="Log-In">Log In</button>
        </div>
        <div class="inquiries">
            <h1>Show inquiries and other services</h1>
        </div>
        <footer>
            <p>Deposits are insured by PDIC up to P500,000 per depositor.<br><br>
               For inquiries and comments please <span class="credentials">send us a message</span> or
               call our 24-hour BPI Contact Center at (+632) 889-10000.<br><br>
               BPI is a proud member of BancNet. BPI is regulated by the 
               Bangko Sentral ng Pilipinas. <span class="credentials">https://www.bsp.gov.ph</span><br><br>
               Copyright © 2023 BPI. All Rights Reserved
            </p>
        </footer>
    </aside>
    <main>
        <div class="background-image"></div>
        <div class="footer">
            <div class="information">
                <ul>
                    <li>
                        <a href="#">Service Agreement</a>
                    </li>
                    <li>
                        <a href="#">Learn About Security</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
