<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload profile pic!</title>
    <script src="scripts/upload.js"></script>
</head>
<body>

    <form method="post" action="">
        <input type="file" name="profile_pic" id="profile_pic">
        <button type="button" id="submit">Upload</button>
    </form>
    
</body>
</html>