body {
    background-color: var(--background-main);
    /* Center everything */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: var(--background-form);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* Center the form */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Stack each input*/
    gap: 20px;

    padding: 20px;
}

input {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: var(--font-body);
    height: 30px;

    background-color: var(--inputbox);
}

button {
    padding: 20px;
    background-color: var(--button-primary);
    color: white;
    font-family: var(--font-body);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #d44d4e;
}


.error, .input-control {
    color: red;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}
